.nav-bar {
  width: 100%;
  padding: 20px;
  text-align: center;
  background-color: #CF6530;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;

  .nav-logo {
    min-width: 300px;
    width: 25%;
    font-size: 40px;
    margin: 0 20px;
  }

  .nav-note {
    font-size: 30px;
  }
}

.position-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}